/* Importing Google Font */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

/* Applying global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

/* Custom font face */
@font-face {
  font-family: 'midnew';
  src: url(/src/components/assets/Midnew.ttf);
}

/* Root variables */
:root {
  --mainColor: #000;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
  overflow-y: hidden;
}

.logo {
  margin-top: 25px;
  height: 160px;
  margin-right: 20px;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin: 0 1rem;
  padding-left: 5px;
  color: var(--textColor);
  text-decoration: none;
  font-size: 16px;
  font-family: "midnew", sans-serif;
}

.contact {
  box-sizing: border-box;
  color: #fff;
  border: 2px solid #00FFFF;
  border-radius: 10px;
  padding: 10px 20px;
}

.contact:hover {
  background-color: #00FFFF;
  border: 1px solid #00FFFF;
  color: #000;
  transition: 0.7s;
  cursor: pointer;
}

nav a:hover {
  color: #00FFFF;
  cursor: pointer;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
*{
  overflow-x: hidden;
}

  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  .logo {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transform: translateX(-100vw);
    transition: transform 0.5s ease;
  }

  .responsive_nav {
    transform: translateX(0);
  }

  .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size:12px;
    padding: 20px;
  }
}
